@font-face {
	font-family: 'GmarketSansBold';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GmarketSansMedium';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 400;
	src: url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2") format('woff2'),
		url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff") format('woff'),
		url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf") format('opentype');
}



/* 사용자 지정 색상 */
:root {
  --purple_color: #5B2386;
  --yellow_color: #FCEE21;
  --white_color: #FFFFFF;
  --yellow_text: #F5DF4D;
  --gray_text: #BABCBE;
  --black_shadow: #000000;
}


img {
	display: block;
	width: 100%;
}
.blind {
	position: absolute;
	clip-path: inset(50%);
	width: 1px;
	height: 1px;
	overflow: hidden;
}
button {
	padding: 21px 49px;
	font-size: 24px;
	line-height: 24px;
	font-family: GmarketSansBold;
	color: var(--purple_color);
	background-color: var(--yellow_color);
	border-radius: 56px;
	cursor: pointer;
	border: none;
}